.rowRow {
  .headerLeft {
    h2 {
      cursor: pointer;
    }
  }
  .login {
    .userGroupName {}
    .loginSelected {
      margin: auto;
      text-align: center;
      .userLoginSelected {
        padding: 2px;
        color: #fff !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .3s;
        transition: all .3s;
      }
      .userLoginSelected:hover {
        background-color: transparent;
        border: 2px solid #998bfa;
        color: #998bfa !important;
        border-radius: 30px;
      }
      li {
        list-style: none;
      }
    }
    .bi-list {
      margin-left: 10px;
      font-size: x-large;
      cursor: pointer;
      border: solid 3px #6091d3;
      border-radius: 10px;
    }
    .sideMenu {
      padding: initial;
      a {
        color: #ffffff !important;
        text-decoration: none !important; 
      }
      p {
        cursor: pointer;
      }
    }
  }
}