.centerButton {
  text-align: center;
  padding: 22px 0px 30px;
}

.kindOfTask {
  margin-bottom: 30px;
}
.taskButton {
  text-align: center;
  margin-bottom: 30px;
}

.tasksShow {
  display: flex;
  place-content: center;
  margin-bottom: 30px;
  .taskLabelContainer {
    text-align-last: center;
    align-self: center;
    margin: 10px;
    .taskLabelshow {
      color: #292929;
      background-color: #fcd98f;
      border-bottom: solid 6px #df9700;
      border-radius: 10px;
      box-shadow: 0 4px 5px rgba(0, 0, 0, .4);
      padding: 10px;
      margin-bottom: 0;
      &:before {
      }
    }
  }
}

.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  color: black;
  .timeshow {
      letter-spacing: 0.05em;
      font-size: 60px;
      padding: 5px 0;
      margin-bottom: 0;
  }
}

.tableName {
  text-align: center;
  border-radius: 5px;
}